* {
  font-family: Roboto;
}

a {
  text-decoration: none;
  color: #445964;
}

p {
  margin: 0;
}

.nav_bar {
  /* border: 3px solid black; */
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 0.5rem;
}

/* .name {
} */

.name > a {
  /* border: 3px solid orange; */
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
  font-weight: 900;
  font-size: 2.25rem;
}

.links {
  /* border: 3px solid orange; */
  display: flex;
  font-size: 1.25rem;
  font-weight: 500;
  justify-content: space-around;
  width: 50%;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.main {
  /* border: 3px solid black; */
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  margin-top: 3rem;
  flex-wrap: wrap;
}

.intro {
  /* border: 3px solid orange; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.caps {
  font-size: 4.5rem;
  font-weight: 900;
  color: #445964;
}

.normal {
  font-size: 1.5rem;
  font-weight: 500;
  color: #445964;
}

.more {
  width: 19.375rem;
  height: 4rem;
  background: #263138;
  border-radius: 1.25rem;
  font-style: normal;
  font-weight: 900;
  font-size: 1.5rem;
  line-height: 1.75rem;
  border: none;
  cursor: pointer;
  color: #ffffff;
}

.social {
  /* border: 3px solid purple; */
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}
